body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1500px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.add-button {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.form-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label,
input,
button {
    margin: 5px;
}

button {
    padding: 5px 10px;
}

.edit-button,
.delete-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.delete-button {
    background-color: #f44336;
}

.image-preview {
    max-width: 100px;
    max-height: 100px;
}

.popup-container {
    position: relative;
}

.add-button {
    margin-top: 10px;
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 430px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup-content h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-content label,
.popup-content input {
    margin: 5px 0;
}

.popup-content input {
    width: 200px;
    height: 35px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.popup-content #simpan {
    padding: 5px 10px;
    width: 100px;
    height: 35px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.popup-content #simpan:hover {
    background-color: #45a049;
}

.popup-content #close-popup {
    background-color: #f44336;
    margin-left: 10px;
}

.popup-content #close-popup:hover {
    background-color: #d32f2f;
}
